.body{display: block;}
ul,li{list-style:none;}
ul{overflow:hidden;padding:3em;}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.name{
	font-family: sans-serif;
	font-size: 72px;
}
.logo {
	width: 150px;
	height: 100px;
}
#app{
	padding: 0;
	display: flex;
}
.header{
  margin: 0;
  padding: 0;
  color: white;
  background: purple;
  height: 20%;
  border-radius: 1%;
  margin: 2px;
}
.left-menu{
  background :purple;
	width: 20%;
	border-right: 1px solid
}
@media screen and (max-width: 750px) {
.header{
font-size: 100%;
}
  .name{
    font-size: 30px;
  }
  .logo {
    width: 75px;
    height: 50px;
  }
.menu-link{
font-size: 150%;
}
}
/*for small screen sizes*/
@media screen and (max-width: 600px) {
ul li h2{
  font-size:60%;
  font-weight:bold;}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:70%;
}
ul{overflow:hidden;padding:2em;}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.product{
  width:75px;
}

.menu-link{
 font-size: 30%;
  }
}
/* For extra small screens*/

@media screen and (max-width: 400px) {
.menu-link{
 font-size: 40%;}

}
/* Default values*/
.content{
	width: 80%;
}
.link-container{
	display: block;
}
.menu-link{
  text-decoration: none;
  color: white;
  border: 2px solid;
  border-radius: 8%;
  padding: 5px;
  font-size: 100%;
	font-family: sans-serif;
	margin: 10px;
}
.menu-link:hover{
  border-color: yellow;
  color:yellow;
}
.element{
	margin: 10px;
	font-size: 30px;
	font-family: sans-serif;
}
.product
{
	width:250px;
}